<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        .main-card {
            background-color: rgb(195, 194, 194);
            height: 400px;
            width: 600px;
            margin: auto;
            position: relative;
        }

        .sub-card {
            background-color: white;
            height: 224px;
            width: 500px;
            margin: auto;
            position: relative;
        }

        .text-container {
            text-align: center;
        }

        .username {
            font-weight: 700;
            font-family: cursive;
            color: #5a2e49;
            font-size: 32px;
            padding: 15px;
        }

        .welcome {
            font-weight: 500;
        }

        h6 {
            padding: 23px;
            color: gold;
            font-size: 23px;
            font-family: cursive;
            font-weight: 800;
        }

        p {
            font-family: cursive;

        }

        a {

            width: 50%;
            margin: auto;
            color: white !important;
            background: #199b09;
            padding: 10px;
            border-radius: 15px;
            text-decoration: none !important;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="card main-card">
            <div class="text-container row">
                <div class="username">Welcome &nbsp;
                    <%=username%>
                </div>
            </div>
            <div class="card sub-card text-container">
                <h6>JUST ONE MORE STEP TO GO ....</h6>
                <p>Click below button to activate your account</p>
                <!-- <button type="button" href="ss.html" class="btn btn-success">Verify</button> -->
                <a href=<%=message %>>Click Here</a>
            </div>
        </div>
    </div>







    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>